<% content_for :title, "Editing interview" %>

<h2>企業編集</h2>

<%= render "form", interview: @interview %>

<div>
  <%= link_to "企業詳細", @interview, class: "btn btn-primary" %>
  <%= link_to "企業一覧", interviews_path, class: "btn btn-primary" %>
</div>
