<% content_for :title, "Interviews" %>

<%= link_to "新規面接日程追加", new_interview_path, class: "btn btn-primary" %>
<h2>選考状況</h2>
<div id="interviews">
  <div class="h3-border">
    <h3>内定</h3>
  </div>
  <div class="h3-border">
    <h3>3次面接</h3>
  </div>
  <div class="h3-border">
    <h3>2次面接</h3>
  </div>
  <div class="h3-border">
    <h3>1次面接</h3>
  </div>
  <div class="h3-border">
    <h3>書類選考</h3>
  </div>
  <% @interviews.each do |interview| %>
      <%= link_to interview.title, interview_path(interview.id), class: "btn btn-outline-secondary me-1" %>
  <% end %>
</div>
