/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    max-width: 1000px;
    margin: 30px auto;
    color: #2f2f37;
    font-weight: 500;
}

h2 {
    padding: 0 10px 10px 10px;
    border: 4px solid;
    margin-top: 20px;
    border-color: transparent transparent rgb(76, 76, 159) transparent;
    color: rgb(28, 28, 100);
    font-weight: 500;
}

h3 {
    padding: 8px;
    background-color: white;
    border-radius: 20px;
    color: rgb(71, 71, 251);
    font-weight: 500;

}

.h3-border {
    padding-bottom:  25px;
}

.dli-arrow-down {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 0.1em;
    height: 1em;
    background: currentColor;
}

.dli-arrow-down::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    border: 0.1em solid currentColor;
    border-top: 0;
    border-right: 0;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    position: absolute;
    left: 50%;
    bottom: -0.05em;
    box-sizing: border-box;
}

.interview-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    gap: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 8px;
}

.interview-container-title {
    border: 4px solid #8aa3f6;
    margin: 5px 0 5px 0;
    padding: 5px;
    border-radius: 8px;
}


.status-btn {
    height: 40px;
    margin: auto 30px;
    border-radius: 10px;
}

.create-day {
   margin: auto 30px;
}

.color-red {
    color: red;
}

.color-blue {
    color: blue;
}

.interview {
    background-color: rgb(158, 226, 251);
    padding: 20px 15px 90px 15px;
    margin: 20px;
    border-radius: 8px;
}

.interview-log {
    background-color: white;
    padding: 4px;
    border-radius: 8px;
    width: 120px;
}

.interview-container-title {
    background-color: white;
}

.form-content {
    background-color: rgb(158, 251, 166);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.index-interviews-status {
    background-color: rgb(139, 249, 255);
    padding: 20px;
    margin: 0 10px 10px 10px;
    border-radius: 30px;
}

.created-day {
    margin: auto 0;
}

.interview-status {
    margin:  auto 0;
    text-align: middle;
}

.current-add-btn {
    border-radius: 8px;
    background-color: #d7e0ff;
    padding: 15px;
}

.current-add-btn:hover {
    background-color: #4e73fb;
    color: white;
}